.botao-lateral {
  position: fixed;
  top: 65%;
  right: 0;
  transform: translateY(-50%);
  background-color: #b51c2c; /* cor do print */
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  padding: 12px 18px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
   box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  z-index: 1000;
}

.botao-lateral:hover {
  background-color: #a01324;
  padding-right: 25px;
}